<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../public/favicon.ico">
    <title></title>
    <script src="/libs/vue/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <requestapp></requestapp>
    </div>
    
    <script>
        $(document).ready(() => {
            new Vue({
              el: '#app',
              data: {}
            });
        });
    </script>
    <script src="main.js"></script>
  </body>
</html>
